@tailwind base;
@tailwind components;
@tailwind utilities;

.h-360{
    height: 36rem;
}
.rounded-40{
    border-radius: 4rem;
}
.grey-1{
    color: #808080
}
.grey-2{
    color: #909090;
}
.grey-3{
    color: #606060
}
.grey-4{
    background-color: #F5F5F5
}
.grey-5{
    background-color: #E0E0E0;
}
.black-1{
    background-color: #242424;
}
.black-2{
    color: #303030;
}
.black-3{
    color: #242424;
}
.black-5{
    color: #606060
}
.bg-brown1{
    background-color: #B4916C;
}
.bg-brown2{
    background-color: #E4CBAD;
}
.ff-gelasio{
    font-family: 'Gelasio';
}
.ff-Nunito{
    font-family: 'Nunito Sans';
}
.ff-merri{
    font-family: 'Merriweather';
}
.top-96{
    top: 9.6rem;
}
.left-17{
    left: 17rem;
}
.btn-shadow{
    box-shadow: 0px 8px 30px 0px rgba(48, 48, 48, 0.30);
}
.footer-shadow{
    box-shadow: 0px -2px 50px 0px rgba(0, 0, 0, 0.05);
}
.item-shadow{
    box-shadow: 0px 8px 40px 0px rgba(138, 149, 158, 0.20);
}
.bg{
    background-image: url('/main-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50.75rem;
}
.product-bg{
    background-image: url('../public/product-bg.png');
    background-repeat: no-repeat;
    height: 28rem;
    background-position: left 0rem top 0;
    border-bottom-left-radius: 5rem;
    margin-left: 4rem;
    background-size: 100%;
}
.decoration-bg{
    background-image: url('/decoration-bg.jpg');
    background-repeat: no-repeat;
    height: 45rem;
    background-size: 100%;
}
.hr-line::before{
    content: '';
    width: 7rem;
    height: 0.09rem;
    border-radius: 0.2rem;
    background-color: #BDBDBD;
    
}
.hr-line::after{
    content: '';
    width: 7rem;
    height: 0.09rem;
    border-radius: 0.2rem;
    background-color: #BDBDBD;
}
.btn1:hover{
    transform: scale(108%);
    transition: all 1s;
    box-shadow: 0 4px 6px 1px gray;
}
.btn1:active{
    transform: scale(90%);
}
